<ion-view title="Cadastrar" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="cadastrar-form2" class="list">
      <ion-list id="cadastrar-list2">
        <label class="item item-input" id="cadastrar-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="cadastrar-input5">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="cadastrar-input6">
        <span class="input-label">Confirmação de Senha</span>
        <input type="password" placeholder="">
      </label>
      <a ui-sref="entrar" id="cadastrar-button4" class="button button-balanced  button-block">SALVAR</a>
    </form>
  </ion-content>
</ion-view>