<ion-view title="Entrar" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="entrar-form1" class="list">
      <div>
        <img src="img/f7wpo7RLSRGAUW4idN3x_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <ion-list id="entrar-list1">
        <label class="item item-input" id="entrar-input1">
          <input type="email" placeholder="Email" ng-model="login.email">
        </label>
        <label class="item item-input" id="entrar-input2">
          <input type="password" placeholder="Senha" ng-model="login.password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <a ng-click="executeLogin()" id="entrar-button2" class="button button-balanced  button-block">ENTRAR</a>
      <a ui-sref="newUser" id="entrar-button3" style="text-align:right;" class="button button-positive  button-block button-clear">NOVO USUÁRIO</a>
    </form>
  </ion-content>
</ion-view>