<ion-view title="MeuPerfil" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-edit"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="meuPerfil-list5">
      <ion-item class="item-divider" id="meuPerfil-list-item-divider2"> QRCode</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div>
      <img src="img/iaO6cxIQpe9OpRcPpqoB_qr_code-512.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="meuPerfil-list6">
      <ion-item class="item-divider" id="meuPerfil-list-item-divider3"> Dados Pessoais</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <form id="meuPerfil-form4" class="list">
      <label class="item item-input" id="meuPerfil-input7">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="meuPerfil-input10">
        <span class="input-label">Facebook</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="meuPerfil-input11">
        <span class="input-label">Instagram</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="meuPerfil-input12">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 33px;"></div>
      <button id="meuPerfil-button5" class="button button-balanced  button-block">SALVAR</button>
    </form>
  </ion-content>
</ion-view>