<ion-view title="Nome da Pessoa" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="nomeDaPessoa-list8">
      <ion-item class="item-divider" id="nomeDaPessoa-list-item-divider4"> QRCode</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <div>
      <img src="img/iaO6cxIQpe9OpRcPpqoB_qr_code-512.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="nomeDaPessoa-list9">
      <ion-item class="item-divider" id="nomeDaPessoa-list-item-divider5"> Dados Pessoais</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <form id="nomeDaPessoa-form5" class="list">
      <label class="item item-input" id="nomeDaPessoa-input13">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="nomeDaPessoa-input14">
        <span class="input-label">Facebook</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="nomeDaPessoa-input15">
        <span class="input-label">Instagram</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="nomeDaPessoa-input16">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 33px;"></div>
      <button id="nomeDaPessoa-button6" class="button button-balanced  button-block">SALVAR</button>
    </form>
  </ion-content>
</ion-view>