


<ion-view title="Perfis" cache-view="false" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list" ng-repeat="profile in profileList" ng-if="profileList">
        <div class="item item-thumbnail-left" ng-click="editProfile(profile)">
            <img src="img/2ZDTMQ2hT8qCDjgShX72_qr_code-512.png">
            <h2>{{profile.profileName}}</h2>
        </div>
    </div>
  </ion-content>
  <div class="float-button">
    <span class="height-fix">
      <a class="content" ng-click="newProfile(); $event.stopPropagation();">
        <i class="ion-plus-round"> </i>
      </a>
    </span>
  </div>
</ion-view>