<ion-view title="Perfis" cache-view="false" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfis-list4">
      <ion-item class="item-thumbnail-left" id="perfis-list-item4" ui-sref="tabsController.profileEdit">
        <img src="img/2ZDTMQ2hT8qCDjgShX72_qr_code-512.png">
        <h2>Perfil Pessoal</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="perfis-list-item5">
        <img src="img/MBMb7mfqSP2zHiRIGujj_qr_code-512.png">
        <h2>Perfil Profissional</h2>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="float-button">
    <span class="height-fix">
      <a class="content" ng-click=" $event.stopPropagation();">
        <i class="ion-plus-round"> </i>
      </a>
    </span>
  </div>
</ion-view>