<ion-view title="Escanear" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <div>
      <!-- <a style="display:block;" ui-sref="tabsController.scanQrcode"> -->
      <a style="display:block;" ng-click="scanBarCode()">
        <img src="img/xbAy4Tv1RxalTOXkaVB1_pesquisa.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>

  <script id="templates/modal-addcontact.html" type="text/ng-template">
        <ion-modal-view class="custom-alert">
            <ion-header-bar align-title="center" class="bar">
                <button ng-click="modalAddContact.hide();$event.stopPropagation();" class="button back-button buttons button header-item">
                    <i class="icon ion-android-close"></i> 
                </button>
                <h1 class="title">Novo Contato</h1>
                <div class="buttons buttons-right"></div>
            </ion-header-bar>

            <ion-content item-button-bottom>
            	<ul class="list" >
				    <li class="item">
				      Nome: {{contactData.name}}
				    </li>
				    <li class="item">
				      Telefone: {{contactData.phone1}}
				    </li>
				    <li class="item">
				      Celular: {{contactData.phone2}}
				    </li>
				    <li class="item">
				      Email: {{contactData.email}}
				    </li>
				    <li class="item">
				      Facebook: {{contactData.facebook}}
				    </li>
				    <li class="item">
				      Instagram: {{contactData.instagram}}
				    </li>
				    <li class="item">
				      Linkedin: {{contactData.linkedin}}
				    </li>
				    <!-- <li class="item">
				      	<i class="icon ion-social-instagram-outline"></i> <span>{{contactData.instagram}}Teste</span>
				    </li>
				    <li class="item">
				      
				      <i class="icon ion-social-linkedin-outline"></i> <span>{{contactData.linkedin}}Teste</span>

				    </li> -->
				</ul>
				<div class="spacer" style="width: 300px; height: 13px;"></div>
      			<a ng-click="addContact()" id="entrar-button2" class="button button-balanced  button-block">ADICIONAR</a>
            	
                    
            </ion-content>
            
        </ion-modal-view>
    </script>
</ion-view>